@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap'); 

*   {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    }

    html{
        font-size: 62.5%;
    }

    .logo{
    height: 10rem;
    width: 10rem;
    }

body{
    background-image: url(../img/backgrounds/background\ web.jpg);
}

h1{
    color: $colorHss;
    line-height: 2;
    font-size: 3rem;
    margin: 0.5rem;
     }
  
     h2{
    color:$colorHss;
    line-height: 2;
    font-size: 3rem;
    margin: 0.5rem;
     } 
 

section ul li{
    display: flex;  
    flex-direction: row; 
   justify-content: center;
   padding: 4rem;


}

p{
    color:$colorText;
    line-height: 1.5;
    font-size: 2rem;
    margin: 0.5rem;
    padding: 0.7rem;
    border-style: dashed;

}



.embed-container {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 75%;
    height: 75%;
}

.textCenter{
    text-align: center;
}



.derechosReservados{
    text-align: center;
    color: $colorBlack;
    font-weight: bold;
}

.btn-a:hover{
    cursor: pointer;
    color: $colorHss;
    transition: 2s;
}

article div{
    color: $colorText;
    line-height: 1.4;
    font-size: 1.5rem;
    
}